# .gitattributes
* text=auto

# Explicitly declare text files
*.js text
*.jsx text
*.json text
*.md text
*.yml text
*.yaml text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
